body{
  font-family: Arial;
  padding:20px;
}

input, button, textarea{
  display:block;
  margin:10px 0;
  padding:8px;
  width:100%;
}

button{
  background:#2196f3;
  color:white;
  border:none;
}

.center{
  text-align:center;
  margin-top:100px;
}

.dark{
  background:#111;
  color:white;
}

.card{
  padding:10px;
  border:1px solid #ccc;
  margin:10px 0;
}